.registration__title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
}
.registration__form {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 20px 40px 30px 40px;
    margin-bottom: 40px;
    input{
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 12px 0 13px 20px;
        width: 100%;
    }
}
.registration-form__company {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.form__company-l {
    flex: 0 1 49%;
}
.form-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
}
.form__company-r {
    flex: 0 1 49%;
}
.registration-form__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.form__name-l {
    flex: 0 1 49%;
}
.form__name-r {
    flex: 0 1 49%;
}
.registration-form__email {
    display: flex;
    margin-bottom: 30px;
}
.form__email-l{
    flex: 0 1 49%;
}
.registration-form__pass {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-top: 1px solid #DEDEDE;
    padding-top: 30px;
}
.form__pass-l {
    flex: 0 1 49%;
}
.form__pass-r {
    flex: 0 1 49%;
}
.registration-form__usname {
    display: flex;
    margin-bottom: 30px;
}
.form__usname-l{
    flex: 0 1 49%;
}
.registration-form__robot {
    margin-bottom: 40px;
}
.registration-form__btn {
    background: #FF8202;
    border-radius: 5px;
    width: 210px;
    padding: 13px 75px;
    margin-bottom: 20px;
}
.form-btn__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $color_4;
}
.registration-form__info {
    display: flex;
    align-items: center;
    input{
        width: 18px;
        height: 18px;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 5px;
        margin-right: 10px;
    }
}
.form-info__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
}
.registration__note {
    background: #F6F6F6;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 35px 50px 25px 40px;
    margin-bottom: 40px;
}
.note__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 145%;
    color: #FF8202;
    margin-bottom: 30px;
    &::before{
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        background: url("../img/Registration/!.svg") center left no-repeat;
        background-size: 22px 22px;
        padding-left: 7px;
    }
}
.note__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    p{
        margin-bottom: 30px;
    }
}

@media(max-width:768px){
    .registration-form__company {
        flex-direction: column;
    }
    .form__company-l {
        flex: 0 1 49%;
        margin-bottom: 30px;
    }
    .registration-form__name {
        flex-direction: column;
    }
    .form__name-l {
        margin-bottom: 30px;
    }
    .form__email-l{
        flex: 0 1 99%;
    }
    .registration-form__pass {
        flex-direction: column;
    }
    .form__pass-l {
        margin-bottom: 30px;
    }
    .form__usname-l{
        flex: 0 1 99%;
    }
    .registration-form__robot {
        text-align: center;
    }
    .registration-form__btn {
        margin: 0 auto 20px auto;
    }
    .registration-form__info {
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            margin: 10px;
        }
    }
}