input[type=file]{
    display: none;
    }
.about-search {
    background: #F7F7F7;
    padding: 20px 0px;
    z-index: -1;
}
.container {
}
.about-search__form {
    flex: 0 1 87%;
    input{
        width: 87%;
        padding: 13px 0 14px 20px;
        font-size: 12px;
        line-height: 15px;
        color: $color_2; 
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 5px 0px 0px 5px;   
    }
    button{
        padding: 14px 24px 14px 49px;
        margin: 0 10px 0 -6px ;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color_4;
        background: #FF4D00;
        border-radius: 0px 5px 5px 0px;
        border: none;
        position: relative;
        cursor: pointer;
        outline: none;
        &::before{
            content: "";
            position: absolute;
            top: 35%;
            left: 25%;
            width: 14px;
            height: 14px;
            background: url("../img/Blog-category/icons/btn-ic-14-Vector.svg") no-repeat center;
            z-index: 1;
        }
    }
}
.about-search__btn {
    display: none;
}
.about__form-box{
    display: flex;
    align-items: center;
}
.sidebar__input {
    cursor: pointer;
    position: relative;
}
.input__image {
    position: absolute;
    top: -10%;
    left: 0;
    display: block;
    width: 20px;
    height: 18px;
    background: url("../img/About-Us/icons/photo.svg") center no-repeat;
}
.input__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
    padding-left: 25px;
}
@media(max-width:1210px){
    .about-search__form {
        flex: 0 1 80%;
        input{
            width: 80%; 
        }
    }
}
@media(max-width:900px){
    .about-search__form {
        flex: 0 1 75%;
        input{
            width: 75%; 
        }
    }
}
@media(max-width:768px){
    .about-search__form {
        margin-bottom: 20px;
        width: 100%;
        input{
            width: 83.5%; 
        }
    }
    button{
        display: none;
    }
    .about-search__btn{
        display: inline-block;
    }
    button.about-search__btn{
        padding: 26px 20px 18px 20px;
        margin: 0px 0 0 -6px ;
        background: #FF4D00;
        border-radius: 0px 5px 5px 0px;
        border: none;
        position: relative;
        cursor: pointer;
        outline: none;
        &::before{
            content: "";
            position: absolute;
            top: 35%;
            left: 35%;
            width: 14px;
            height: 14px;
            background: url("../img/Blog-category/icons/btn-ic-14-Vector.svg") no-repeat center;
            background-size: 14px 14px;
            z-index: 1;
        }
    }
    .about__form-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

